* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	max-width: 80%;
}

ol {
	list-style-type: none;
}

#header {
	background-repeat: no-repeat;
	padding: 50px 10px;
}

#lista {
	height: 300px;
	width: 40%;
	margin-left: 20px;
	background-color: blue;
}

